section{
    padding: 75px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 100px;
    background: white;
    background-color: #90a9d1;
}

.navbar{
    display: flex;
}
.navbar li{
    position: relative;
    list-style-type: none;
}
.navbar a{
    font-size: 1rem;
    color: grey;
    font-weight: 800;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 22px;
}
.book{
    padding: 15px 20px;
    color: white;
    background-color: black;
    font-weight: 500;
    border-radius: 10%;
    text-decoration: none;
}
.book:hover{
    transform: scale(1.2);
}
.home{
    display: grid;
    background: #c3d2eb;
    align-items: center;
}
.text h1{
    font-size: 2rem;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.text p{
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.text li{
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align:left;
}

.image {
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 3px solid grey;
}

th, td {
    padding: 10px;
    text-align: center;
}
.book2{
    padding: 7px 11px;
    color: white;
    background-color: black;
    font-weight: 500;
    border-radius: 10%;
    text-decoration: none;
    margin: auto;
}
.image-caption{
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}


.first-image{
    margin-bottom: 20px;
}
section{
    padding: 75px 100px;
}



.first-image{
    margin-bottom: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
 

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
 

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  html {
    scroll-behavior: smooth;
  }